@import url('https://fonts.googleapis.com/css?family=Inconsolata|Poppins');

html, body {
  height: 100%;
  margin: 0;
}

#app {
  font-family: 'Inconsolata', 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
  height: 100%;
  .el-header {
    padding: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}