@import url('https://fonts.googleapis.com/css?family=Inconsolata|Poppins');
@import './element-variables.scss';

html, body {
  height: 100%;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

div {
  box-sizing: border-box;
}

#app {
  font-family: 'Inconsolata', 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
  height: 100%;
  .el-header {
    padding: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  code {
    font-family: 'Inconsolata', 'Avenir', sans-serif;
  }
  // Global style for element.io components
  .el-menu {
    background: none;
  }
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.el-menu {
  border-right: none;
}


// Global style for tiptap editor container
.ProseMirror {
  padding-bottom: 1rem;
  &:focus {
    outline: none;
  }
}