@import url('https://fonts.googleapis.com/css?family=Inconsolata|Poppins');
@import './element-variables.scss';

html, body {
  height: 100%;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

div, ul, li, p {
  box-sizing: border-box;
}

#app {
  font-family: 'Inconsolata', 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
  height: 100%;
  .el-header {
    padding: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  code {
    font-family: 'Inconsolata', 'Avenir', sans-serif;
  }
  // Global style for element.io components
  .el-menu {
    background: none;
  }
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}


// Element override
.el-menu {
  border-right: none;
  width: 100%;

  .el-submenu, .el-submenu.is-opened {
    padding-left: 1rem;
    margin-right: 0;

    &__title {
      color: #fff;
      height: 3rem;
      line-height: 3rem;
      padding-left: 0!important;
      padding-right: 0;

      &:hover {
        background: none;
        cursor: pointer;
      }
    }
    &__icon-arrow {
      position: absoulte;
      color: #fff;
      margin-top: 0;
      right: auto;
      left: -1.3rem;
      top: calc(50% - 6px);
      &:focus {
        color: #fff;
      }
    }

  }
  .el-menu-item {
    color: #fff;
    height: 3rem;
    line-height: 3rem;
    &:hover {
      background: none;
      cursor: pointer;
    }
    &:focus {
      background: none;
    }
    padding-left: 1rem!important;
    padding-right: 0;

  }
}

.el-popover {
  padding: 0;
  min-width: 1rem;
  border: none;
  // border: solid 1px $color1;
}

// Global style for tiptap editor container
.ProseMirror {
  padding-bottom: 1rem;
  &:focus {
    outline: none;
  }
}

// Hide blocks menu icon
.block {
  .block-options {
    .block-options__btn {
      transition: opacity .2s linear;
      opacity: 0;
    }
  }
  &:hover {
    .block-options__btn {
      opacity: 1;
    }
  }
}


// Transitions
.fade-enter-active, .fade-leave-active {
  transition: all .3s;
  .modal {
    transition: all .3s;
  }
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  .modal {
    top: calc(50% - 23%);
  }
}