.block {
  position: relative;
  padding: .5rem;
  &-title {
    display: inline;
    padding-bottom: .3rem;
    cursor: pointer;
  }
  &-container {
    overflow-y: hidden;
    i {
      transition: transform .2s linear;
    }
    .block-options {
      display: none;
    }
    &:hover {
      .block-options {
        display: block;
      }
    }
  }
  // .block-options {
  //   background: red;
  //   .block-options__btn {
  //     display: none;
  //   }
  // }

  // &:hover {
  //   .block-options__btn {
  //     display: block;
  //   }
  // }
}