.block-menu {
  // display: none;
  position: absolute;
  top: 8px;
  right: -8px;
  cursor: pointer;
  &-list {
    margin: 0;
    li {
      padding: .5rem .7rem;
      cursor: pointer;
      transition: all .2s linear;
      &:hover {
        color: $color1;
      }
    }
  }
}