.card {
  margin: 1.5rem 1rem;
  h3 {
    margin: 0.5rem 0;
  }
  &-infos {
    padding: 1rem;
    position: relative;
    .delete-project {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}