.item-container {
  // background: red;
  padding: 1rem;
  border: .2rem black solid;
  .item-content {
    text-align: right;
    margin: 0 auto;
    p {
      margin-left: 1rem;
      text-align: left;
    }
  }
}